@{
    ViewData["Title"] = "Trang chủ";
}

<h1 style="text-align:center">Trang chủ shop Vegetable</h1>
<div>
    <h4><a asp-action="Index" asp-controller="Products" class="collapse-item">Product</a><br /></h4>
    <h4>  <a asp-action="Index" asp-controller="Categories" class="collapse-item">Category</a><br /></h4>
    <h4> <a asp-action="Index" asp-controller="Bills" class="collapse-item">Bills</a><br /></h4>
    <h4> <a asp-action="Index" asp-controller="BillDetails" class="collapse-item">BillDetails</a><br /></h4>
    <h4> <a asp-action="Index" asp-controller="Customers" class="collapse-item">Customers</a><br /></h4>
    <h4> <a asp-action="Login" asp-controller="Customers" class="collapse-item">Login</a><br /></h4>
</div>