@model VegetableShop.Data.Entitis.Category

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h3>@ViewBag.error</h3>
<hr />
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

